Flask==0.11.1
Flask-DebugToolbar==0.10.0
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.15
Werkzeug==0.11.11
argparse==1.2.1
backports.ssl-match-hostname==3.5.0.1
blinker==1.4
certifi==2016.9.26
cffi==1.8.3
click==6.6
cryptography==1.5.2
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
ndg-httpsclient==0.4.2
psycopg2==2.6.2
pyOpenSSL==16.1.0
pyasn1==0.1.9
pycparser==2.14
requests==2.11.1
six==1.10.0
slackclient==1.0.0
urllib3==1.18
websocket-client==0.37.0
wsgiref==0.1.2
